# HƯỚNG DẪN: COPY file này thành '.env' (cùng thư mục).
# SAU ĐÓ, thay các giá trị bên dưới thành Key/Password thật của bạn.

# Google Login (OAuth2)
OAUTH2_GOOGLE_CLIENT_ID=your_google_client_id_here
OAUTH2_GOOGLE_CLIENT_SECRET=your_google_client_secret_here

# Mail Server
MAIL_USERNAME=your_email@gmail.com
MAIL_PASSWORD=your_app_password

# Secret Key (dành cho JWT Token)
JWT_SECRET=your_jwt_secret_key_here
